<div class="header">
  <div class="container-fluid">
    <h1>Try. Share. Love.</h1>
    <p>Discover products that we love and think you will love too.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="posts">
        <% @diggs.each do |post| %>
        <div class="post-box">
          <div class="post-image">
            <div><%= link_to image_tag(post.image), post %></div>
          </div>
          <div class="post-footer">
            <h5><%= link_to post.title, post %></h5>
            <p class="description"><%= link_to post.description, post %></p>
          </div>
          <% if admin_signed_in? %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete btn btn-mini btn-danger' %>
          <%= link_to 'Edit', edit_post_path(post), :class => 'edit btn btn-mini ' %>
          <% end %>
        </div>
      <% end %> ``
      </div>
    </div>
  </div>
</div>


<script>
$( document ).ready(function() {
  $('.posts').masonry({
    itemSelector: '.post-box'
  });
});
</script>