<div class="header">
  <div class="container-fluid">
    <h1>Try. Share. Love.</h1>
    <p>Discover products that we love and think you will love too.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="posts">
        <% @posts.each do |post| %>
        <div class="post-box">
          <div class="post-image">
            <div><%= link_to image_tag(post.image), post %></div>
            <div><%= link_to image_tag(post.image), post, :class => 'hover-image ' %>
              <h4><%= link_to post.title, post, :class => 'hover-title ' %></h4>
              <p><%= link_to post.description, post, :class => 'hover-description ' %></p>
            </div>
          </div>
          <div class="post-footer">
            <i class="icon-food category-icon"></i>
            <h5 class="title"><%= link_to post.title, post %></h5>
          </div>
          <% if admin_signed_in? %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete btn btn-mini btn-danger' %>
          <%= link_to 'Edit', edit_post_path(post), :class => 'edit btn btn-mini ' %>
          <% end %>
        </div>
      <% end %> 
      </div>
    </div>
  </div>
</div>


<script>
$( document ).ready(function() {
  $('.posts').masonry({
    itemSelector: '.post-box', 
    "isFitWidth": true
  });
});
</script>
<!-- <h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Link</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.image %></td>
        <td><%= post.link %></td>
        <td><%= post.description %></td>
        <td><%= post.price %></td>
        <td><%= post.category %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>


