<!DOCTYPE html>
<html>
<head>
  <title>Trysharelove</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-head">
	<div class="container-fluid">
		<div class="nav-head-inner row-fluid">
			<div class="span3">
				<h4>Try Share Love</h4>
			</div>
			<div class="span9">
				<% if admin_signed_in? %>
				<%= link_to  "Sign Out", destroy_admin_session_path, method: :delete %>
				<a href="<%= new_post_path %>" class="btn info"><i class="icon-plus"></i> New Post</a>
				<% else %>
				<a href="/admins/sign_in">Sign In</a>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
